* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.repo-board {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;
  -ms-flex-pack: distribute;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  justify-items: center;
}
