* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.04em;
  margin: 2em;
}

.page-header {
  margin-bottom: 0.5em;
}
